@font-face {
    font-family: Bookmania;
    src: url(Fontes/Bookmania\ Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: Bookmania;
    src: url(Fontes/Bookmania\ Bold.otfack.otf);
    font-weight: 700;
}

@font-face {
    font-family: Bookmania;
    src: url(Fontes/Bookmania\ SemiBold.otfld.otfack.otf);
    font-weight: 600;
}

@font-face {
    font-family: Bookmania;
    src: url(Fontes/Bookmania\ Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Bookmania;
    src: url(Fontes/Bookmania\ Light.otf);
    font-weight: 300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Bookmania;
    font-size: 10px;
    width: 100%;
    height: 100vh;
}

.menus{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10.5rem;
}

/*menu superior*/
.menu-topo{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: .5px solid rgba(0, 0, 0, 0.082);
}

.img-logo{
    width: 6rem;
}

.fa-user, .fa-shopping-cart{
    color: #5a162e;
    font-size: .8rem;
}

/*fim menu superior*/


/*menu navbar*/
.lista-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center; 
}


.item-menu{
    font-size: .8rem;
    padding: 1rem 2rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.item-menu a{
    text-decoration: none;
    color: #5a162e;
}

.item-menu a:hover{
    color: #333;
    opacity: 85%;
}

/*fim menu navbar*/

/*inicio sessão garrafas*/
.bg-garrafas{
    background-color: #5a162ee2;
    background-image: url(imagens/bg-topo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    position: relative;
}

.garrafas-img{
    position: absolute;
    top: 160px;
    left: 50%;
    transform:translateX(-50%) ;
}
/*fim sessão garrafas*/

/*inicio tipos de vinhos*/

.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6rem 4.5rem;
    
}

.titulo-vinhos{
    margin: 0px 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform:uppercase ;
    letter-spacing: .3rem;
    color: #5a162e;
}

.titulo i{
    color:#5a162e;
    font-size: .3rem;
    flex-wrap: wrap;
}

#vinhos-tipos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*vinho rose*/
.vinho-rose{
    margin: 0 5rem;
    flex-wrap: wrap;
}

.vinho-rose img{
    width: 300px;
    margin: 0 3rem;
}

.vinho-rose h2{
    text-align: center;
    color: #5a162e;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-top: 1rem;
}

.vinho-rose p{
    text-align: center;
    font-size: 1rem;
    color: rgb(76, 76, 76);
}
/*fim vinho rose*/

/*vinho tinto seco*/
.vinho-tinto-seco{
    margin: 0 5rem;
    flex-wrap: wrap;
}

.vinho-tinto-seco img{
    width: 300px;
    margin: 0 3rem;
 
}

.vinho-tinto-seco h2{
    text-align: center;
    color: #5a162e;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-top: 1rem;
}

.vinho-tinto-seco p{
    text-align: center;
    font-size: 1rem;
    color: rgb(76, 76, 76);
}
/*fim vinho-tinto-seco*/

/*vinho tinto suave*/
.vinho-tinto-suave{
    margin: 0 5rem;
    flex-wrap: wrap;
}

.vinho-tinto-suave img{
    width: 300px;
    margin: 0 3rem;
}

.vinho-tinto-suave h2{
    text-align: center;
    color: #5a162e;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-top: 1rem;
}

.vinho-tinto-suave p{
    text-align: center;
    font-size: 1rem;
    color: rgb(76, 76, 76);
}
/*fim vinho-tinto-seco*/

/*inicio instagram*/


.titulo-instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4.5rem;
    flex-wrap: wrap;
}

.titulo-instagram i{
    color:#5a162e;
    flex-wrap: wrap;
    font-size: .3rem;
}

.titulo-h2{
    margin: 0px 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform:uppercase ;
    letter-spacing: .3rem;
    color: #5a162e;
}

.boxes-instagram{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.container-insta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 2rem;
}

/*fim sessão instagram*/

/*rodapé*/
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border-top: 1px solid rgba(51, 51, 51, 0.297);
}

footer p{
    font-size: 1rem;
    color: #5a162e;
    letter-spacing: .2rem;
    margin: 0 3rem;
}

footer i{
    margin: 0 1rem;
    color: #5a162e;
    font-size: 1rem;
}


@media screen and (max-width: 790px){
    
    .menu-hamburguer{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 8.5rem;
    }
    
    .linha1, .linha2, .linha3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #5a162e;
        width: 1.2rem;
        height: .12rem;
        margin: .1rem;
    }
    
    .item-menu{
        display: none;
    }

    .titulo{
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .bg-garrafas{
        height: 480px;
        
    }

    .titulo{
        gap: .5rem;   
    }

    .titulo-instagram{
        text-align: center;
        gap: 1rem;
    }

    footer{
        margin: 0 1rem;
    }

    footer p{
        flex-wrap: wrap;
        font-size: .7rem;
        color: #5a162e;
        margin: 0 1rem;
    }

    footer i{
        margin: 0 .4rem;
        color: #5a162e;
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px){
    .bg-garrafas{
        height: 360px;    
        width: 100%;
    }


}